#gravitataion
G=6.67408*10**-11
m1=float(input("enter the value of m1: "))
m2=float(input("enter the value of m2: "))
r=float(input("enter the value of r: "))
f=G*(m1*m2)/r**2
print("the value of f is: ",f)
